#cloud-config
package_update: true
packages:
  - qemu-guest-agent
  - sudo

ssh_pwauth: false

users:
  - name: root
    lock_passwd: true
    ssh_authorized_keys: 
      - ${public_key_openssh}
  - name: freebsd
    lock_passwd: true
    ssh_authorized_keys: 
      - ${public_key_openssh}
    groups: wheel
    
runcmd:
  - service qemu-guest-agent start
  - pw mod user root -w no
  - pw mod user freebsd -w no
  
write_files:
  - path: /usr/local/etc/sudoers
    content: |
      %wheel ALL=(ALL) NOPASSWD: ALL
    append: true
  - path: /etc/rc.conf
    content: |
      qemu_guest_agent_enable="YES"
    append: true
